body {
    margin: 0;
    cursor: crosshair;
    height: 100vh;
    overflow:hidden;
}
canvas{display:block}
#bday_box h1 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: "Permanent Marker", cursive;
    font-size: 5em;
    font-weight: 900;
    -webkit-user-select: none;
    user-select: none;
}

#bday_box h2{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: "Bungee Spice", sans-serif !important;
    font-weight: 400;
    font-style: normal;
    font-size: 5em;
    -webkit-user-select: none;
    user-select: none;
}

@media only screen and (max-width: 800px){
    #bday_box h2{
        top:45% !important;
        font-size: 5rem !important;
    }
    #bday_box h1{
        font-size: 4rem;
        text-align:center;
        margin-bottom:2rem;
    }
}

.cake-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#cake {
    display: block;
    position: relative;
    margin: -10em auto 0 auto;
}

/* ============================================== Candle
*/

.velas {
    background: #ffffff;
    border-radius: 10px;
    position: absolute;
    top: 228px;
    left: 50%;
    margin-left: -2.4px;
    margin-top: -8.33333333px;
    width: 5px;
    height: 35px;
    transform: translateY(-300px);
    backface-visibility: hidden;
    animation: in 500ms 6s ease-out forwards;
}
.velas:after,
.velas:before {
    background: rgba(255, 0, 0, 0.4);
    content: "";
    position: absolute;
    width: 100%;
    height: 2.22222222px;
}
.velas:after {
    top: 25%;
    left: 0;
}
.velas:before {
    top: 45%;
    left: 0;
}

/* ============================================== Fire
*/

.fuego {
    border-radius: 100%;
    position: absolute;
    top: -20px;
    left: 50%;
    margin-left: -2.6px;
    width: 6.66666667px;
    height: 18px;
}
.fuego:nth-child(1) {
    animation: fuego 2s 6.5s infinite;
}
.fuego:nth-child(2) {
    animation: fuego 1.5s 6.5s infinite;
}
.fuego:nth-child(3) {
    animation: fuego 1s 6.5s infinite;
}
.fuego:nth-child(4) {
    animation: fuego 0.5s 6.5s infinite;
}
.fuego:nth-child(5) {
    animation: fuego 0.2s 6.5s infinite;
}

@keyframes fuego {
    0%, 100% {
        background: rgba(254, 248, 97, 0.5);
        box-shadow: 0 0 40px 10px rgba(248, 233, 209, 0.2);
        transform: translateY(0) scale(1);
    }
    50% {
        background: rgba(255, 50, 0, 0.1);
        box-shadow: 0 0 40px 20px rgba(248, 233, 209, 0.2);
        transform: translateY(-20px) scale(0);
    }
}

@keyframes in {
    to {
        transform: translateY(0);
    }
}

.text {
    color: #8b6a60;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-style:italic;
    text-align: center;
#bday_box h1 {
    font-size: 1.4em;
}
}

#bday_box .text {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    font-size: 5vw;
    text-align: center;
    margin-top: calc(50vh - .5em);
    font-family: Monoton;
    color: hsla(35, 99%, 50%, .3);
    z-index: -1
}



#bday_box .gradient {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(to top, rgba(255,255,255,0.5), rgba(255,255,255,0) 20%, rgba(255,255,255,0));
    z-index: 1;
}


#bday_box .glitch {
    font-size: 8.125em;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    color: #fff;
    letter-spacing: 5px;
}
#bday_box .glitch:before, .glitch:after {
    display: block;
    content: attr(data-glitch);
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.8;
}
#bday_box .glitch:after {
    color: #f0f;
    z-index: -2;
}
#bday_box .glitch:before {
    color: #0ff;
    z-index: -1;
}
#bday_box .glitch:hover:before {
    -webkit-animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both 5;
    animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both 5;
}
#bday_box .glitch:hover:after {
    animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both 5;
}

@media only screen and (max-width: 400px) {
    .glitch {
        font-size: 3em;
    }
}
@-webkit-keyframes glitch {
    0% {
        transform: translate(0);
    }
    20% {
        transform: translate(-5px, 5px);
    }
    40% {
        transform: translate(-5px, -5px);
    }
    60% {
        transform: translate(5px, 5px);
    }
    80% {
        transform: translate(5px, -5px);
    }
    to {
        transform: translate(0);
    }
}
@keyframes glitch {
    0% {
        transform: translate(0);
    }
    20% {
        transform: translate(-5px, 5px);
    }
    40% {
        transform: translate(-5px, -5px);
    }
    60% {
        transform: translate(5px, 5px);
    }
    80% {
        transform: translate(5px, -5px);
    }
    to {
        transform: translate(0);
    }
}
